
body{

  padding-top:50px;

  text-align: center;
  background-color:


}

h1{
  color:#630000;
}

div{

  padding-top:100px;

}


.re1{
  color:red;
}

.re2{
  color:blue;
}

.wel{
  color:#f25287;
}
